https://github.com/HasibulKabir/heroku-buildpack-ffmpeg-ffprobe
pyrogram
TgCrypto
py-tgcalls
python-dotenv
youtube_dl
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg
Pillow
python-arq
future
psutil
wget
regex
html2text
sqlalchemy==1.3.23
Pyrogram==1.2.9
TgCrypto==1.2.2
ffmpeg-python
psutil
pytgcalls
wheel
python-arq
aiohttp==3.6.2
youtube_dl
youtube_search_python
youtube_search
wget
